{
  "hard_coded_contacts": [
    {
      "tcp_acceptors": [
        "46.101.12.6:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.22:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.32:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.44:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.54:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.64:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.79:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.80:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.84:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.107:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.108:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.151:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.159:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.171:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.173:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.181:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.196:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.230:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.111:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.123:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.129:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.239:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.245:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.12.252:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.18:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.25:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.37:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.39:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.41:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.47:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.54:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.70:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.82:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.88:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.90:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.93:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.99:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.101:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.107:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.113:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.118:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.124:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.136:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.139:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.149:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.157:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.166:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.190:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.199:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    },
    {
      "tcp_acceptors": [
        "46.101.13.201:5483"
      ],
      "utp_custom_listeners": [],
      "udp_mapper_servers": [],
      "tcp_mapper_servers": []
    }
  ],
  "tcp_acceptor_port": 5483,
  "utp_acceptor_port": null,
  "udp_mapper_servers": [],
  "tcp_mapper_servers": []
}
